html {
    font-family: Arial, Helvetica, sans-serif;
}

.hauptbereich {
    display: grid;
    grid-template-columns: 400px 200px 200px;
}

.hauptbereich>* {
    margin: 10px;
    padding: 10px;


}

.infobereich {
    grid-column: 1 / span 1;
    background-color: #E6E6E6;



}

.fotobereich {
    grid-column: 2 / span 1;
    background-color: #E6E6E6;

}

.links {
    grid-column: 3 / span 1;
    background-color: #E6E6E6;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.links>a {
    font-size: large;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.links>a:hover {
    color: navy;
}

footer {
    text-align: center;
}

@media (max-width: 600px) {
    .hauptbereich {
        grid-template-rows: 50px auto 50px;
    }

    .infobereich {
        grid-row: 2;
        grid-column: 1 / span 3;
    }

    .fotobereich {
        grid-row: 3;
        grid-column: 1 / span 3;
    }

    .links {
        grid-row: 1;
        grid-column: 1 / span 3;
    }

}